header{
  background-color: #03406A;
  height: 100px;
  padding-left: 10px;
}

header img{
  Width: 67px;
  Height: 66px;
  float: left;
}

header a{
    border: 1px solid #24577B;
    color: white;
    background: #24577B;
    margin-left: 10px;
  
}

.logo{
    float: left;
    margin-top: 20px;
}

