/* Rectangle 1 */

position: absolute;
width: 581px;
height: 692px;

background: #65A5D1;


/* Rectangle 2 */

position: absolute;
width: 581px;
height: 66px;

background: #03406A;


/* cactus-g8b2b8afc8_1920 1 */

position: absolute;
width: 67px;
height: 66px;

background: url(cactus-g8b2b8afc8_1920.jpg);


/* Rectangle 3 */

position: absolute;
width: 95px;
height: 32px;

background: #24577B;


/* Главная */

position: absolute;
width: 95px;
height: 32px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

border: 1px solid #000000;


/* cactus-gfc2fc74d9_1920 1 */

position: absolute;
width: 283px;
height: 199px;

background: url(cactus-gfc2fc74d9_1920.jpg);


/* Rectangle 4 */

position: absolute;
width: 426px;
height: 40px;

background: #24577B;


/* Интернет-магазин кактусов */

position: absolute;
width: 426px;
height: 48px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF;

border: 1px solid #000000;


/* Rectangle 5 */

position: absolute;
width: 176px;
height: 32px;

background: #24577B;


/* Ассортимент */

position: absolute;
width: 218px;
height: 32px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;

border: 1px solid #000000;


/* Rectangle 6 */

position: absolute;
width: 268px;
height: 199px;

background: #3E94D1;


/* Rectangle 7 */

position: absolute;
width: 559px;
height: 116px;

background: #3E94D1;


/* Первый интернет-магазин кактусов в России! Мы имеем огромное количество катктусов, которые вы сможете купить по низкой цене! */

position: absolute;
width: 262px;
height: 193px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

border: 1px solid #000000;


/* Ознакомиться с нашим ассортиментом вы можете перейдя по ссылке в начале сайта. Желаем выбрать тот кактус, который отлично дополнит ваш интерьер. */

position: absolute;
width: 548px;
height: 116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

border: 1px solid #000000;


/* Rectangle 8 */

position: absolute;
width: 581px;
height: 60px;

background: #03406A;


/* Rectangle 9 */

position: absolute;
width: 548px;
height: 41px;

background: #24577B;


/* Контакты: cactus01@gmail.com */

position: absolute;
width: 548px;
height: 41px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

border: 1px solid #000000;


/* Rectangle 10 */

position: absolute;
width: 395px;
height: 33px;

background: #24577B;


/* О компании: */

position: absolute;
width: 395px;
height: 33px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;

border: 1px solid #000000;


/* Rectangle 11 */

position: absolute;
width: 581px;
height: 150px;

background: #3E94D1;


/* Продажей кактусов мы начали заниматься в 2021 году. На данный момент наши кактусы купили уже более 50 тясыч человек! Е. */

position: absolute;
width: 581px;
height: 150px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

border: 1px solid #000000;

